*{margin: 0;
    box-sizing: border-box;
    }
    
    header{
    height: 139px;
    background-color: #EFE7CB;
    width: 100%;
    }
    
    #logo{
    height: 143px;
    margin-left: 60px;}
    
    #cabecalho{
    list-style: none;
    display: flex;
    gap: 50%;
    font-size: 20px;
    font-family: "Indie Flower", cursive;
    font-weight: bold;
}

    header>div{ display: flex;}
    
    #selecionada{
        color: #833838;
    }
    
    a{
     color: black;
     text-decoration: none;
    
    }

    #corpo{
        background-image: url(fundo4.jpg);
        width: 100%;
        height: 1190px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1{
        color: black;
        font-family: "Indie Flower", cursive; 
        font-size: 50px;
        padding-top: 20px;
 
    }

    img{
        height: 340px;
    }

    p{
        color: black;
        font-family: "Indie Flower", cursive; 
        font-size: 30px;
        font-weight: bold;
    }

    hr{
        color:#833838;
        width: 30%;
        border: none;
        border-top: 2px solid;
        margin: 20px 0; 
    }

    #listaRES{
        list-style: none;
        display: flex;
        gap: 3%;
        font-size: 20px;
        font-family: "Indie Flower", cursive; 
    }

    #textoBARRA{
        text-align: center;
    }

    #barraDeBUSCA{
        text-align: center;
   
        
    }

    input{
        height: 30px;
        width: 50%;
    }

    button{
            color: black;
            font-family: "Indie Flower", cursive;
            font-size: 30px;
            background-color: #833838;
            font-weight: bold;
        }

